/* variables and custom properties */
/* -- is a pseudo class */

:root {
  --black: #171321;
  --white: #f7f8fa;
  --sage: #b2d1a5;
  --tealDark: #16232e;
  --teal: #1c5858;
  --hotGreen: #bde038;
  --teal2: #267365;
  --hotTeal: #9bf2ea;
  --tealLight: #3ca6a6;
  --orange: #f29f05;
  --orange2: #f28705;
  --yellow: #f2cb05;
  --font-size: 1.3rem; /* 1rem = 16px or the default font-size set in browser*/
  --mono: 'Roboto mono';
  --slab: 'Roboto slab';
  --cour: 'Courier Prime';
  --rec: Recursive;

  /* Eureka! redefining the color name to verb for a greater clarity when to use it (when hovering, this color is used etc) */
  --hoverColor: var(--orange2);
}

.alignText {
  text-align: start;
}

/* border box model https://css-tricks.com/box-sizing/*/

html {
  box-sizing: border-box;
}

/* the double colon in pseudo element as opposed to pseudo class */
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--tealDark);
  /* background-color: var(--black); */
  color: var(--white);
  font-size: var(--font-size);
  font-family: var(--mono);
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--rec);
}

a {
  color: var(--white);
}

.latest a {
  /* color: var(--orange); */
}

.latest a:hover {
  color: var(--hotTeal);
  text-decoration: none;
}

/* intro section --------------- */

/* Eureka! To horizontally center a block element (like <div>), use margin: auto; Setting the width of the element will prevent it from stretching out to the edges of its container. (refer below: #intro)*/

#intro {
  padding: 4rem 1rem 10rem 1rem;
  margin: 0 auto;
  max-width: 1200px;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

.name span {
  font-family: var(--slab);
  font-size: 4rem;
  color: var(--hotGreen);
  display: block;
}

#intro h2 {
  font-size: 4rem;
}

.directory {
  color: var(--white);
}

.directory:hover {
  color: var(--hoverColor); /* used here */
}

/* projects section --------------- */

.titles {
  padding: 0.5rem;
}

/* project background-color */

.inColor {
  background-color: var(--orange2);
}

.inColor2 {
  background-color: #011526;
}

.inColor3 {
  background-color: #02735e;
}

.inColor4 {
  background-color: var(--yellow);
}

/* projectOdd */

/* #projectOdd,
#projectEven {
  padding: 4rem 1rem 1rem;
  margin: 0 auto;
  max-width: 1200px;
} */

#projectOdd h2,
#projectEven h2 {
  font-family: var(--rec);
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 0.5);
  padding: 0.4rem;
  border-radius: 5px;
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  width: 20rem;
}

#projectOdd h3,
#projectEven h3 {
  font-family: var(--rec);
  text-shadow: 2px 2px var(--black);
}

#projectOdd h4,
#projectEven h4 {
  font-family: var(--rec);
  font-size: 1rem;
  margin: 0;
  text-shadow: 1px 1px var(--black);
}

#projectOdd p,
#projectEven p {
  font-weight: 800;
}

.black-box {
  background-color: var(--tealDark);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 0.8rem;
  line-height: 1.5;
  border-right: 3px solid var(--tealDark);
  border-bottom: 3px solid var(--tealDark);
  border-left: 2px solid var(--hotGreen);
  border-top: 2px solid var(--hotGreen);
  text-align: start;
}

#projectOdd ul,
#projectEven ul {
  /* text-decoration: none; */
  list-style: none;
  display: flex;
  gap: 1rem;
  font-weight: 800;
  flex-flow: row wrap;
  /* flex-direction & flex-wrap */
  justify-content: flex-start;
  font-size: 0.8rem;
  padding: 0;
}

#projectOdd ul li,
#projectEven ul li {
  background-color: var(--tealDark);
  padding: 10px;
  border-radius: 7px;
  text-shadow: 1px 1px #ff0000;
}

#projectOdd img {
  margin: 2rem 0 4rem 0;
  border-left: 2px solid var(--white);
  border-top: 2px solid var(--white);
  border-radius: 25px;
  padding: 0.5rem;
  width: 95%;
}

/* projectEven */

#projectEven img {
  margin: 2rem 0 4rem 0;
  border-right: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  border-radius: 25px;
  padding: 0.5rem;
  width: 95%;
}

/* grid can overlap on top of each other, flexbox cannot */

/* media query */
@media (min-width: 800px) {
  .article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  /* The order CSS property sets the order to lay out an item in a flex or grid container. Items in a container are sorted by ascending order value and then by their source code order. */

  #projectOdd,
  #projectEven {
    padding: 3rem 1rem 1rem;
    margin: 0 auto;
    max-width: 1200px;
  }
  /* projectOdd */

  .text-side {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
  }

  .img-side {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  #projectOdd ul {
    justify-content: flex-end;
  }

  /* projectEven */

  .text-side2 {
    order: 2;
    text-align: left;
    grid-column: 1/7;
    grid-row: 1/2;
  }

  .img-side2 {
    grid-column: 6/11;
    grid-row: 1/2;
  }

  #projectEven ul {
    justify-content: flex-start;
  }
}

.gradient {
  /* background: linear-gradient(
    90deg,
    rgba(189, 224, 56, 1) 0%,
    rgba(242, 159, 5, 1) 50%,
    rgba(189, 224, 56, 1) 100%
  ); */

  height: 5px;

  background: linear-gradient(
    90deg,
    rgba(252, 70, 107, 1) 0%,
    rgba(242, 159, 5, 1) 50%,
    rgba(252, 70, 107, 1) 100%
  );
}

/* contact section --------------- */

#contact {
  margin: 0 auto;
  text-align: center;
  width: 400px;
  padding: 3rem 0;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 1.1rem;
  /* text-shadow: 1px 1px var(--black); */
  color: var(--black);
}

#contact p:last-child {
  margin-top: 3rem;
}

/* header and navigation */

header {
  border-bottom: 1px solid var(--white);
}

nav {
  font-size: 80%;
  padding: 1rem;
  font-family: var(--rec);
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

nav [class*='fa-'] {
  font-size: 125%;
  color: var(--hotTeal);
}

nav h1 [class*='fa-'] {
  font-size: 100%;
}

nav a {
  text-decoration: none;
  display: block; /* important for usability*/
}

nav a:hover {
  color: var(--orange2);
}

nav .exclude a:hover {
  color: var(--white);
}

nav li:first-child {
  /* flex-basis evenly distributed space, if set to 100% the nav will be force into new line*/
  flex-basis: 100%;
  text-align: center;
}

.resume-btn,
.email {
  background-color: var(--hotTeal);
  padding: 0.4rem;
  border-radius: 5px;
  color: var(--black);
}

.resume-btn:hover {
  background-color: var(--tealLight);
  color: var(--black);
}

.email {
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
}

.email:hover {
  text-decoration: underline;
}

/* footer section --------------- */

footer {
  text-align: center;
  background-color: var(--black);
  padding: 4rem 0;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 3rem;
  padding: 0;
  flex-flow: row wrap;
  font-size: 2rem;
}

footer [class*='fa-'] {
  font-size: 125%;
  color: var(--hotTeal);
}

.copyrighted {
  font-size: 0.9rem;
}

/* media queries, this is for DESKTOP view not mobile*/

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}

@media (min-width: 400px) {
  body {
    font-size: 1px; /* Smaller text for tablets and mobile */
  }
}
